.top-bg {
    background-color: #59bb43;
}

.bg-search-l {
    background-color: #93d386;
}

.bg-search-s {
    background-color: #bde4b5;
    color: #ffffff;
}

.qgdt-search-text-2 {
    color: #ffffff;
}

.qgdt-search-text-2::-webkit-input-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2:-moz-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2::-moz-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2:-ms-input-placeholder {
    color: #ffffff;
}

input {
    -webkit-appearance: none;
}

/*contian-info-body-info-1*/

.contian-info-body-info-1::-webkit-input-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1:-moz-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1::-moz-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1:-ms-input-placeholder {
    color: #ffffff;
}

.home-body-gongying-body-list-wrapper > a > h1 {
    margin-bottom: 0.1rem;
    /*height: 0.88rem;*/
}

.hidden-ceng {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: block;
    background: transparent;
}

/*index.ejs*/
.nav-div-1 {
    background-image: url('/img/swiper-_03.png');
}

.nav-div-2 {
    background-image: url('/img/swiper-_06.png');
}

.nav-div-p {
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0.05rem;
}
#colorTitle{
    color: #ffffff;
}

.swiper-pagination-bullet-active{
    background: #ffffff !important;
}