.top-bg {
    background-color: #59bb43;
}

.bg-search-l {
    background-color: #93d386;
}

.bg-search-s {
    background-color: #bde4b5;
    color: #ffffff;
}

.qgdt-search-text-2 {
    color: #ffffff;
}

.qgdt-search-text-2::-webkit-input-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2:-moz-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2::-moz-placeholder {
    color: #ffffff;
}

.qgdt-search-text-2:-ms-input-placeholder {
    color: #ffffff;
}

input {
    -webkit-appearance: none;
}

/*contian-info-body-info-1*/

.contian-info-body-info-1::-webkit-input-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1:-moz-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1::-moz-placeholder {
    color: #ffffff;
}

.contian-info-body-info-1:-ms-input-placeholder {
    color: #ffffff;
}

.home-body-gongying-body-list-wrapper > a > h1 {
    margin-bottom: 0.1rem;
    /*height: 0.88rem;*/
}

.hidden-ceng {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: block;
    background: transparent;
}

/*index.ejs*/
.nav-div-1 {
    background-image: url('/img/swiper-_03.png');
}

.nav-div-2 {
    background-image: url('/img/swiper-_06.png');
}

.nav-div-p {
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0.05rem;
}
#colorTitle{
    color: #ffffff;
}

.swiper-pagination-bullet-active{
    background: #ffffff !important;
}
.photo-clip-rotateLayer{
    width: 50vw !important;
    height: 50vh !important;
}

#clipArea3{
    margin: 0.2rem;
    height: 50vh;
}
#clipArea2{
    margin: 0.2rem;
    height: 50vh;
}
#clipArea1{
    margin: 0.2rem;
    height: 50vh;
}


/*yindaoye*/
.guide-welcome{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/welcome-bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    z-index: 900;
    display: none;
}

.guide-welcome img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 7.5rem;
}
.login-body-submit {
    display: block;
    width: 6.7rem;
    height: 0.8rem;
    font-size: 0.3rem;
    outline: none;
    border: none;
    border-radius: 0.1rem;
    color: #ffffff;
    background: #59bb43;
    margin: 0.85rem auto 2rem auto;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
}
.contian-info-body-info-1{
    color: #a3a3a3;
}

.contian-info-body-info-1::-webkit-input-placeholder {
    color: #a3a3a3;
}

.contian-info-body-info-1:-moz-placeholder {
    color: #a3a3a3;
}

.contian-info-body-info-1::-moz-placeholder {
    color: #a3a3a3;
}

.contian-info-body-info-1:-ms-input-placeholder {
    color: #a3a3a3;
}
